* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

.container p {
  margin: 10px;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.container form input {
  width: 15%;
  padding: 15px;

  outline: 0;

  font-size: 1.1rem;
  border: none;
  background: #fcfafa;
}

.container form button {
  padding: 15px;

  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  outline: 0;

  background: #eee;
  transition: background 200ms;
}

.container form button:hover {
  background: #e0e0e0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px;
  margin-top: 4%;
}

.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-container img {
  border-radius: 50%;

  width: 240px;
  height: 240px;

  margin-top: 15px;
}

.profile-container a {
  color: #000;

  transition: color 200ms;
}

.profile-container a:hover {
  color: #7d7d7d;
}

.info-container {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-left: 20px;
}

.info-container p {
  font-size: 1.4rem;
  line-height: 20px;
}

